  <ul>
    <% @movies.each do |movie| %>
      <li><strong><%= movie.title %></strong>
          (<%= movie.rating %>):
          <%= total_gross(movie) %>
          <p>
            <%= desc(movie) %>
          </p>
          <p>
            <%= year_of(movie) %>
          </p>
      </li>
    <% end %>
  </ul>

